################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/ConfigurationService.Api/CustomerDB.db
/.vs
