################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/source/ConfigurationService.Api/CustomerDB.db
/source/ConfigurationService.Tests/coverage.json
/.vs
/source/ConfigurationService.Api/.config
/source/artifact
/source/ConfigurationService.Api/logs
/source/ConfigurationService.Api/appdata
/source/ConfigurationManagementSystem.Api/logs
